<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Updateded</title>
</head>

<body>
    <form>
        <input type="text" id="idin" name="idin" placeholder="id">
        <input type="text" id="quotein" name="quotein" placeholder="quote">
        <input type="text" id="authorin" name="authorin" id="author">
        <input type="submit" id="submit" value="subit">
    </form>

    <script src="script2.js"></script>
</body>

</html>